:root {
  --page-spacing: 3rem;
  --page-spacing-mobile: 1rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  min-height: 1rem;
}

.container-logo {
  display: flex;
  align-items: center;
}

.company-title {
  color: navy;
  text-transform: uppercase;
}

.container-slogan {
  color: white;
  text-align: right;
  background: linear-gradient(to right, white, navy);
}

.line-design {
  display: block;
  min-height: 0.2rem;
  background: linear-gradient(to right, cyan, magenta);
}

main {
  flex: 1;
}

.banner {
  margin: 0 auto;
  line-height: 1.5;
  width: fit-content;
  text-align: center;
  background: linear-gradient(to right, magenta, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-sub {
  color: navy;
  padding: 2rem;
  line-height: 1.5;
  text-align: center;
}

footer {
  min-height: 1rem;
  background: #f1f1f1;
}

.whats,
.tel,
.email,
.location {
  color: navy;
  display: flex;
  align-items: center;
}

.whats::before,
.tel::before,
.email::before,
.location::before {
  content: "";
  display: inline-block;
}

.whats::before {
  background: url("/assets/whatsapp.svg");
  background-size: cover;
}

.tel::before {
  background: url("/assets/tel.svg");
  background-size: cover;
}

.email::before {
  background: url("/assets/email.svg");
  background-size: cover;
}

.location::before {
  background: url("/assets/location.svg");
  background-size: cover;
}

@media (min-width: 901px) {
  .container-logo {
    padding-top: 2rem;
    padding-left: var(--page-spacing);
  }

  .company-logo {
    width: 4rem;
  }

  .company-title {
    font-size: 2.2rem;
    margin-left: 1rem;
  }

  .container-slogan {
    padding: 1rem;
    margin-top: 1rem;
    padding-right: var(--page-spacing);
  }

  main {
    margin-top: 5rem;
  }

  .banner {
    font-size: 3rem;
  }

  .banner-sub {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  address {
    display: flex;
    justify-content: space-between;
    padding: var(--page-spacing);
  }

  .whats::before,
  .tel::before,
  .email::before,
  .location::before {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 900px) {
  .container-logo {
    padding-top: var(--page-spacing-mobile);
    padding-left: var(--page-spacing-mobile);
  }

  .company-logo {
    width: 3rem;
  }

  .company-title {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  .container-slogan {
    padding: 1rem;
    margin-top: 1rem;
    padding-right: var(--page-spacing-mobile);
  }

  main {
    margin-top: 5rem;
  }

  .banner {
    font-size: 1.8rem;
  }

  .banner-sub {
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  address {
    padding: var(--page-spacing-mobile);
  }

  .whats,
  .tel,
  .email,
  .location {
    margin-top: 1rem;
  }

  .whats::before,
  .tel::before,
  .email::before,
  .location::before {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}
